@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities{

  .background_home {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black; 
    background-image: url("/Background_home.svg"); 
    background-size: cover; 
    background-position: center; 
    overflow: hidden;
    z-index: 1;
  }

  .background {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
    z-index: 1;
  }

  .background::before,
  .background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../public/Fondo_loding.svg') repeat; /* Ruta de la imagen */
    opacity: 0.1;
    animation: glitch-background 2s infinite;
    z-index: 1; /* Fondo con z-index bajo */
  }

  .background::after {
    opacity: 0.6;
    animation: glitch-background 2s infinite;
    z-index: 1; /* Fondo con z-index bajo */
  }

  .content {
    position: relative;
    z-index: 2; /* Contenido con z-index alto */
  }

  @keyframes glitch-background {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-10px, -10px);
    }
    40% {
      transform: translate(10px, 10px);
    }
    60% {
      transform: translate(-10px, 10px);
    }
    80% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}